* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: rgb(255, 255, 255);
}

h1, h2, p {
	text-align:center;
}

h1 {
	margin-bottom: 0;
	font-size: 2.5rem;
	font-weight: 900;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
}

h2 {
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 2rem;
	font-size: 0.875rem;
	font-weight: 600; 
}

p {
	padding: 1rem;
}

.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('../images/filmmaker.jpg');
	background-attachment: fixed;
	background-size: cover;
	border-radius: 10px;
	height: 100vh;
}

.box {
	position: relative;
	max-width: 60%;
	padding: 50px;
	box-shadow: 0 5px 15px rgba(0,0,0,0.5);
	overflow: hidden;
}

.box:before{
	content: '';
	position: absolute;
	top: -20px;
	left: -20px;
	right: -20px;
	bottom: -20px;
	background: url('../images/filmmaker.jpg');
	background-attachment: fixed;
	background-size: cover;
	filter: blur(20px);
}

section .box figure img,
section .box h1,
section .box h2,
section .box p {
	position: relative;
	z-index:2;
}

.logo-container {
	display:flex;
	justify-content: center;
	margin-bottom: 1rem;
}

#avtr {
	border-radius: 50%;
}

.about-section h1,
.about-section h2,
.about-section p {
	filter: drop-shadow(0 5px 3px rgba(0,0,0,0.3));
}
